﻿@*@model SemmDesk.Web.Models.TecnicoViewModel
    ViewBag.Title = "ConfirmarTecnico";
}

<h2>ConfirmarTecnico</h2>

@using (Html.BeginForm("ConfirmarTecnico", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.TecnicoId)
    @Html.HiddenFor(m => m.CodigoEmpleado)
    @Html.HiddenFor(m => m.Nombres)
    @Html.HiddenFor(m => m.Identificador)
    @Html.HiddenFor(m => m.RolId)

    @Html.EditorFor(m => m.Clave)

<input type="submit" name="name" value="Confirmar" />
}*@