﻿
<footer class="main-footer text-xs bg-light">
    <div class="float-right d-none d-sm-block">
        <b>Versi&oacute;n</b> @GetType().Assembly.GetName().Version.ToString()
    </div>
    <strong>Copyright &copy; 2021 <a href="#" target="_blank">HELPDESK</a>.</strong> Todos los derechos reservados, <a href="#" target="_blank" style="cursor:pointer; text-decoration:underline; color:blue !important">términos y condiciones</a>
</footer>