﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">    
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Content/css/adminlte.css">
    <link rel="stylesheet" href="~/Content/css/customstyle.css" />
    <link rel="stylesheet" href="~/Content/plugins/jquery-ui/jquery-ui.css" />
    <title>HDSSD-DESK</title>
</head>
<body class="sidebar-mini layout-fixed" data-panel-auto-height-mode="height" style="height: auto;">

    <div class="wrapper">
        @Html.Partial("_Menu")

        <div class="content-wrapper text-sm">            
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                    <div class="loaderbody" id="loaderbody">
                        <div class="loader"></div>
                    </div>
                </div>
            </section>
        </div>

        @Html.Partial("_Footer");
    </div>

    <script type="text/javascript" src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script type="text/javascript" src="~/Content/js/site.js"></script>
    <script type="text/javascript" src="~/Content/js/adminlte.min.js"></script>

    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>*@
    @*<script type="text/javascript" src="https://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>*@
    @*<script type="text/javascript" src="~/Content/plugins/inputmask/jquery.inputmask.js"></script>*@
    @*<script type="text/javascript" src="~/Content/js/demo.js"></script>*@
    @*<script type="text/javascript" src="~/Content/js/jquery/jquery.table2excel.js"></script>*@
    @*<script src="~/Content/plugins/datatables/Buttons-1.6.5/js/buttons.colVis.js"></script>*@
    @*<script type="text/javascript" src="~/Content/js/jquery/tableExport.js"></script>*@

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            var url = window.location.href;

            url = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/');
            var uri = "/";

            for (var i = 1; i < url.length; i++) {
                uri = uri + url[i] + "/";
            }

            uri = uri.slice(0, -1)

            $('.nav-sidebar li').each(function () {

                var href = $(this).find('a').attr('href');

                if (uri == href) {
                    $(this).find('a').addClass('active');
                }
            });
        })
    </script>

</body>
</html>
