﻿<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars fa-fw"></i></a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                @*<img src="@Session["Foto"]" alt="Alternate Text" /> @Session["NombreUsuario"]*@
                <i class="fas fa-user-circle fa-fw"></i> @Session["NombreUsuario"]
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="widget-user">

                    <div class="">
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <h5 class="description-header"></h5>
                                    <span class="description-text"><a href="~/Empleados/ChangeUserPassowrd">  <i class="fas fa-key"></i></a></span>
                                </div>
                            </div>
                            @*<div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header"></h5>
                                        <span class="description-text"><a href="#"><i class="fas fa-cogs text-primary fa-fw"></i></a></span>
                                    </div>
                                </div>*@
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header"></h5>
                                    <span class="description-text"><a href="~/Login/logout"><i class="fas fa-power-off text-danger fa-fw"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
<aside class="main-sidebar bg-gradient-primary" @*style="background-color: lightskyblue !important;"*@>
    <a href="#" class="brand-link" style="width:10px">
        <img src="~/Content/img/logo.jpg"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8; width:50px">
        <span class="brand-text font-weight-light">HelpDesk</span>
    </a>
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <br />
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column nav-compact" data-widget="treeview" role="menu" data-accordion="false">
                <li class='nav-item nav-principal'>
                    <a href="~/Home/Index" class="nav-link">
                        <i class="nav-icon fas fa-chart-line fa-fw text-white"></i>
                        <p style="color:black">
                            Dashboard
                        </p>
                    </a>
                </li>
                <br />
                <li class="nav-item has-treeview nav-principal">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-id-card fa-fw text-white"></i>
                        <p style="color:black">
                            Incidencias
                            <i class="right fas fa-angle-left fa-fw"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/incidencias/index


                                       " class="nav-link">
                                @*<i class="fas fa-plus-circle nav-icon fa-fw"></i>*@
                                <p style="color:black">
                                    Lista Incidencias
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/incidencias/crear" class="nav-link">
                                @*<i class="fas fa-plus-circle nav-icon fa-fw"></i>*@
                                <p>Crear Incidencias</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <br />
                <li class="nav-item has-treeview nav-principal">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs fa-fw text-white"></i>
                        <p style="color:black">
                            Categorias
                            <i class="right fas fa-angle-left fa-fw"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/categorias/index" class="nav-link">
                                <p style="color:black">
                                    Lista Categorias
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/categorias/crear" class="nav-link">
                                <p style="color:black">
                                    Crear Categoria
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>
                <br />
                <li class="nav-item has-treeview nav-principal">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs fa-fw text-white"></i>
                        <p style="color:black">
                            Sub-Categorias
                            <i class="right fas fa-angle-left fa-fw"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/subcategorias/index" class="nav-link">
                                <p style="color:black">
                                    Lista Sub-Categorias
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/subcategorias/crear" class="nav-link">
                                <p style="color:black">
                                    Crear SubCategoria
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>
                <br />
                <li class="nav-item has-treeview nav-principal">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-question-circle fa-fw text-white"></i>
                        <p style="color:black">
                            Ayuda
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-custom d-none">
        <!--habilitar solo cuando la clase text-sm no este agregada-->
        <a href="#" class="btn btn-link"><i class="fas fa-cogs fa-fw"></i></a>
        <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Ayuda</a>
    </div>
</aside>
