﻿
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex flex-column-fluid">
    <div class="container">
        <h3>Ha ocurrido un error procesando su solicitud</h3>
        <h5>Por favor contactar con el Administrador del Sistema.</h5>
        <br />
        <h3>Detalles</h3>
        <div class="alert alert-custom alert-notice alert-light-danger fade show mb-5" role="alert">
            <div class="alert-text">
                <h5>Ruta de la Excepci&oacute;n</h5>
                <hr />
                <p>@ViewBag.ExceptionPath</p>
            </div>
        </div>
        <div class="alert alert-custom alert-notice alert-light-danger fade show mb-5" role="alert">
            <div class="alert-text">
                <h5>Mensaje de Error</h5>
                <hr />
                <p>@ViewBag.ExceptionMessage</p>
            </div>
        </div>
        <div class="alert alert-custom alert-notice alert-light-danger fade show mb-5" role="alert">
            <div class="alert-text">
                <h5>Pila:</h5>
                <hr />
                <p>@ViewBag.StackTrace</p>
            </div>
        </div>
        <a asp-action="Index" asp-controller="Home">
            Ir a la p&aacute;gina de inicio
        </a>
    </div>
</div>
<style>
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 50px !important
    }
</style>