﻿@model SemmDesk.Web.Models.QueryReportModel
@{
    ViewBag.Title = "getReportByTecnicoID";
}
<br />
<br />

@using (Html.BeginForm("GetReport", "Reportes", FormMethod.Post))
{
    <div class="row">


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reporte por técnicos</h5>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha Inicial</label>
                            @Html.TextBoxFor(m => m.FechaInicio, new { type = "date", @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label>Fecha Final</label>
                            @Html.TextBoxFor(m => m.FechaFinal, new { type = "date", @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            @Html.Label("Categoría", htmlAttributes: new { @class = "control-label col-md-6" })
                            @Html.DropDownListFor(m => m.CategoriaId, (SelectList)ViewBag.lsCategorias, " ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.Label("SubCategoría", htmlAttributes: new { @class = "control-label col-md-8" })
                            @Html.DropDownListFor(m => m.SubCategoriaId, (SelectList)ViewBag.lsSubCategorias, " ", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Técnico", htmlAttributes: new { @class = "control-label col-md-6" })
                            @Html.DropDownListFor(m => m.TecnicoId, (SelectList)ViewBag.lsTecnicos, " ", htmlAttributes: new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            @Html.Label("Estado", htmlAttributes: new { @class = "control-label col-md-6" })
                            @Html.DropDownListFor(m => m.EstadoId, (SelectList)ViewBag.lsEstados, " ", htmlAttributes: new { @class = "form-control" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                    </div>
                </div>
                <div class="card-footer">

                    <div class="row">
                        <div class="offset-4">
                            <div class="btn-group" role="group">
                                <button type="submit" name="btnReporte" class="btn bg-primary btn-sm"><span aria-hidden="true">Generar Reporte </span></button>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
