﻿@model SemmDesk.Web.Models.QueryReportModel
@{
    ViewBag.Title = "getReportByTecnicoID";
}
<br />
<br />

@using (Html.BeginForm("ReporteByTecnico", "Reportes", FormMethod.Post))
{
    <div class="row">


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reporte por técnicos</h5>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha Inicial</label>
                            @Html.TextBoxFor(m => m.FechaInicio, new { type = "date", @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            <label>Fecha Final</label>
                            @Html.TextBoxFor(m => m.FechaFinal, new { type = "date", @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            @Html.Label("Categoría", htmlAttributes: new { @class = "control-label col-md-6" })
                            @Html.DropDownListFor(m => m.CategoriaId, (SelectList)ViewBag.lsCategorias, "-- Seleccione una categoría --", htmlAttributes: new { @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            @Html.Label("Técnico", htmlAttributes: new { @class = "control-label col-md-6" })
                            @Html.DropDownListFor(m => m.TecnicoId, (SelectList)ViewBag.lsTecnicos, "-- Seleccione un Técnico --", htmlAttributes: new { @class = "form-control" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                    </div>
                </div>
                <div class="card-footer">

                    <div class="row">
                        <div class="offset-4">
                            <div class="btn-group" role="group">
                                <button type="submit" name="rPDF" class="btn bg-primary btn-sm"><span aria-hidden="true">Generar Reporte PDF</span></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" id="rExcel" class="btn bg-primary btn-sm"><span aria-hidden="true">Generar Reporte EXCEL</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#rExcel').click(function() {                
                
                $.ajax({
                    url: '/Reportes/ReporteExcel',
                    type: 'POST',
                    success: function () {
                        alert('vino del metodo');
                    }
                });
            })
        });
    </script>
}
