﻿@model SemmDesk.Entities.Models.Incidencia

@{
    ViewBag.Title = "Detalles";
}



<div class="container">
    <h4>Detalles Incidencia #@Model.IncidenciaId</h4>  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Categoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoIncidencia.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Prioridad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridade.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("SubCategoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Tecnico Asignado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnico.Nombres)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Identificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Comentario de cierre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentarioCierre)
        </dd>

        <dt>
            @Html.DisplayName("Fecha creacion Incidencia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Cierre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayName("Creada por")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayName("Modificada por:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Modificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacion)
        </dd>

        <dt>
            @Html.DisplayName("ReAsignada a:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoReAsignadoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IncidenciaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
